* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Estilo del header */
header {
    background: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    flex: 1;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo del main */
main {
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

main h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Estilo del footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
nav{
    position: relative;
    width: 100%;
    max-width: 475px;
    height: 50px;
    background: #222;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}
nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #194b4f,#33fffc);
    border-radius: 10px;
    transition: 0.5s;
}
nav a:nth-child(1):hover~span{
    left: 0px;
}
nav a:nth-child(2):hover~span{
    left: 88px;
}
nav a:nth-child(3):hover~span{
    left: 190px;
}
nav a:nth-child(4):hover~span{
    left: 280px;
}
nav a:nth-child(5):hover~span{
    left: 378px;
}


.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters select,
.filters input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
/* Courses styles */
.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course {
    width: 48%;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.course img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.course h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.course p {
    margin-top: 5px;
    color: #666;
}
.upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745; /* Color verde */
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.upload-button:hover {
    background-color: #218838; /* Color verde más oscuro al pasar el ratón */
}
